@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 650px;
  margin: 0;
  padding: 0 30px;
  font-family: 'Lato', sans-serif;
  font-size: .85em;
  line-height: 1.5em;
  color: #1C1C1C;
}

h2 {
font-weight: 700;
font-size: 1.4em;
margin: 12px 0 18px;
color: inherit;
}

h3 {
  font-weight: 700;
  font-size: 1.1em;
  margin: 15px 0 0;
  color: inherit;
}

a {
  color: #1264a3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-weight: 700;
  font-style: normal;
}
